* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.container {
  height: 100vh;

  /* flexbox */
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  align-content: space-around;
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 5rem;
  font: weight 900px;
}

.box-1 {
  align-self: flex-start;
  order: -1;
}
.box-2 {
  align-self: flex-end;
  order: o;
}
.box-3 {
  align-self: center;
  order: 1;
}
